@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.contact-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
    font: 400 small "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
    background: #F9F9F9;
    padding: 25px;
    margin: 90px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

    #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #AAA;
    }

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: var(--highlight-color);
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:hover {
    background: var(--highlight-color-dark);
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact button[type="submit"]:focus {
    outline: 1px solid var(--dark);
    background-color: var(--highlight-color-dark);
}

#contact input:focus, #contact textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

.loadLine {
    /* right: 0px; */
    position: absolute;
    width: 60%;
    height: 5px;
    background-color: var(--highlight-color);
    -webkit-animation: linear infinite;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
}

.overlay {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
}

#sendResult {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#result-overlay {
    background-color: #f9f9f9;
    background-color: rgba(249,249,249,241);
}

#resultText {
    font-size: x-large;
}

#resultInfo {
    font-size: x-small;
}

.success {
    color: var(--success);
}

.danger {
    color: var(--danger);
}

@-webkit-keyframes run {
    0% {
        left: 0;
        width: 0;
    }

    20% {
        left: 0;
        width: 0;
    }

    50% {
        left: 0;
        width: 60%;
    }

    100% {
        left: 100%;
    }
}

#mailTo {
    text-align: center;
    font-size: small;
    display: block;
    margin-top: 10px;
}

#sendResult-image {
    display: block;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    margin: 0 auto;
}

.close {
    cursor: pointer;
    padding: 5px 10px;
}

#sendResult > span {
    display: block;
    text-align: center;
}

.g-recaptcha {
    margin-bottom: 15px;
}