@page
@model Contact
@{
    ViewData["Title"] = "Contact";
}

<link rel="stylesheet" href="~/css/contact.css" />
<div class="contact-container">
    <div id="contact-container-overlay" class="overlay invisible">
        <div class="loadLine">
        </div>
    </div>
    @Html.Raw(Model.ResultHtmlCode)
    <form id="contact" action="" method="post" onsubmit="$('#contact-container-overlay').removeClass('invisible')">
        <h3 class="colored">Contact</h3>
        <fieldset>
            <legend><!--subtitle--></legend>
            <input asp-for="Name" placeholder="Your name" type="text" tabindex="1" required autofocus>
            <input asp-for="EmailAddress" placeholder="Your Email Address" type="email" tabindex="2" required>
            <textarea asp-for="Message" placeholder="Type your Message Here...." tabindex="3" required></textarea>
        </fieldset>
        @if (Model.RecaptchaEnabled)
        {
            <div class="g-recaptcha" data-sitekey="@Model.RecaptchaSiteKey"></div>
            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        }
        <button name="submit" type="submit" id="contact-submit" data-submit="...Sending" tabindex="4">Submit</button>
    </form>
</div>